# System #
**/.DS_Store

# Cache #
**/__pycache__/

# Music folder #
music/*

# Music files #
*.fra
*.fva
*.sine

*.wav
*.flac
*.aac
*.mp4
*.ogg
*.mp3
*.wav
*.wma

# RAW files #
*.raw
*.pcm
*.swv

# Artworks #
*.png
*.jpg

# Metadata #
*.json
*.image
