# System #
**/.DS_Store

# Cache #
**/__pycache__/

# Music folder #
music/*

# Music files #
*.frad
*.fra
*.dsin
*.dsn
*.sine

*.wav
*.flac
*.aac
*.mp4
*.ogg
*.mp3
*.wav
*.wma

*.dsd

# RAW files #
*.raw
*.pcm
*.swv
*.bitstream

# Artworks #
*.png
*.jpg

# Metadata #
*.json
*.image
